# security files
/artifacts
*.crt
*.key
*.pem
# model
*.h5

# auto generted files
/__pycache__
/.ipynb_checkpoints
/.vscode

# project folders
/tasks/categories_generate_temp
/tasks/categories_temp
/web/morph_data

# environment folder
/venv