# security files
/artifacts
*.crt
*.key
*.pem
# model
/web/model/*
*.h5
# !simplified_unet.h5

# auto generted files
/__pycache__
/.ipynb_checkpoints
/.vscode

# project folders
/tasks/categories_generate_temp
/tasks/categories_temp
/web/morph_data
/web/shadow_puppetry

# environment folder
/venv